/*             BALISES GENERALS          */
form {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin: auto;
	color: white;
}

fieldset {
	background-color: #C2B0F9;
	border: 2px solid black;
	border-radius: 6px;
	margin-bottom: 20px;
}

legend {
	background-color: #FFF;
	border: 2px solid black;
	border-radius: 6px;
	padding: 4px;
}

label {
	margin-bottom: 10px;
}


input, textarea {
	padding: 15px;
	border-radius: 3px;
	border: none;
}

input[type="submit"] {
	width: 200px;
	margin: auto;
	margin-top: 30px;
}


/*             CLASSE CREE          */

.accueil-photos {
	background-color: white;
	padding: 80px;
}

.accueil-photos h2 {
	color: #242424;
	text-align: center;
	margin-bottom: 80px;
}

.accueil-photos div {
	display: flex;
	flex-direction: row;
	gap: 15px;
	justify-content: center;
	margin-bottom: 15px;
}

.accueil-introduction {
	display: flex;
	flex-direction: row;
	width: 60%;
	align-items: flex-start;
	margin: auto;
}

.accueil-introduction p {
	margin-bottom: 30px;
}

.accueil-introduction h1 {
	margin-bottom: 15px;
}
  
.accueil-introduction div {
	padding-right: 80px;
}

.section-contact>h2 {
	color: #A5B4FC;
	text-align: center;
	margin-bottom: 50px;
}

.form_nom_email {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.form_column {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}



/*               EVENEMENT AU CLIK OU AU SURVOL               */

/* textarea {
	width: 10%;
	height: 20%;
} */